 {% extends 'launch/home.html'%}
 {% load static %}
 {% block content %}
 <div class="container"style="margin:100px ;float:center">
<div class="card" style="width: 18rem;display:auto">
  <div class="card-body">
      <h3  >Are You Sure?</h3>

    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <form action="{%url 'delete_order' order.id %}" method="POST">
         {% csrf_token %}
    <button class="btn btn-primary",style="display: flex" type="submit">Yes</button>

    <a href="{% url 'home'%}">Return</a>
        </form>
  </div>
</div>
</div>


{%endblock %}













