{% extends 'launch/home.html'%}
{% load static %}
 {% block content %}

<div class = "container"style= "display:flex"><br><br>
<h1>Register</h1><br><br>
<form method="POST" action="">
   {% csrf_token %}
   {% comment %} {{form.as_p}} {% endcomment %}

 <br><br><br><br>
{{form.username.label}}
 {{form.username}} <br><br>

     {{form.email.label}}
    {{form.email}} <br>
<br>
     {{form.password1.label}}
    {{form.password1}} <br>
<br>
     {{form.password2.label}}
    {{form.password2}} <br>
<br>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <div class="g-recaptcha" data-sitekey="6Ldq_9AZAAAAANXoYHNla9SJosforXZyX8wr3wj5"></div>
<br>
  <button type="submit" class="btn btn-primary">Submit</button>

  <br>

 <span style="color: red;"> {{form.errors}} </span>
  <br>

 <h3> <a href="{% url 'Login' %}">Login </a><h3>
</form>
</div>
{%endblock %}
